[submodule "halo_analysis"]
	path = halo_analysis
	url = git@github.com:reproducibilityinpublishing/halo_analysis
[submodule "spack"]
	path = spack
	url = git@github.com:krafczyk/spack
	branch = enzo-yt-rockstar-aug-2018
